@import "./src/common/styles/sass/variables.scss";

.projects{
    background-color: $bgColor;
    .projectsContainer{
        flex-direction: column;
        justify-content: flex-start;
        .projectsSet{
            border: 1px solid;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

