.projects{
    //min-height: 100vh;
    margin-bottom: 5px;
    .projectsContainer{
        flex-direction: column;
        justify-content: flex-start;
        .projectsSet{
            border: 1px solid;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

