@font-face {
    font-family: Raleway-Black;
    src: url('Raleway-Black.ttf')
}
@font-face {
    font-family: Raleway-regular;
    src: url('Raleway-Regular.ttf')
}
@font-face {
    font-family: Montserrat-ExtraBold;
    src: url('Montserrat-ExtraBold.ttf')
}
@font-face {
    font-family: Raleway-SemiBold;
    src: url('Raleway-SemiBold.ttf')
}