.contact{
    height: 100vh;
    background-color: #f2f2f2;
}
.contactContainer{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.contactContainer a {
    text-decoration: none;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #136211;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.formContainer{
    background-color: #048a8a;
    width: 270px;
    min-height: 240px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.formContainer input{
    width: 270px;
    height: 50px;
}
.formContainer textarea{
    width: 270px;
    min-height: 100px;
}