@import "./src/common/styles/sass/variables.scss";
@import "./src/common/styles/sass/mixins.scss";

.contact {
  min-height: 69vh;
  .contactContainer {
    flex-direction: column;
    justify-content: flex-start;
    .formContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
      position: relative;
      .inputFields {
        display: flex;
        .inputBox{
          position: relative;
          .error {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            color: red;
            font-size: 12px;
            font-weight: bold;
          }
        }
        & input {
          width: 400px;
          height: 42px;
          border: none;
          border-bottom: 2px solid $textSeconsdColor;
          padding: 6px 12px;
          margin: 0 14px 24px;
          background-color: transparent;
          outline: none;
          @include text(OpenSans-Regular, sans-serif, 14px);
        }
      }
      & textarea {
        width: 828px;
        min-height: 140px;
        padding: 6px 12px;
        margin: 0 15px 24px;
        border: none;
        border-bottom: 2px solid $textSeconsdColor;
        background-color: transparent;
        resize: none;
        outline: none;
        @include text(OpenSans-Regular, sans-serif, 14px);
      }
      .textAreaBox {
        position: relative;
        .errorTextArea {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          text-align: center;
          color: red;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
    button {
      margin: 85px 0 5px;
      width: 143px;
      height: 46px;
      border: 2px solid $bgSecondColor;
      background-color: $bgSecondColor;
      padding: 10px 20px;
      text-transform: uppercase;
      @include text(Raleway-SemiBold, sans-serif, 13px);
      color: $textColor;
    }
    button:hover {
      background-color: transparent;
      color: $textSeconsdColor;
    }
  }
}

@media screen and (max-width: 999px) {
  .contact {
    .contactContainer {
      .formContainer {
        .inputFields {
          & input {
            width: 320px;
          }
        }
        & textarea {
          width: 670px;
        }
      }
    }
  }
}
@media screen and (max-width: 845px) {
  .contact {
    .contactContainer {
      .formContainer {
        .inputFields {
          flex-direction: column;
          & input {
            width: 450px;
            padding: 6px 0;
            margin: 0 15px 0;
          }
        }
        & textarea {
          width: 450px;
          min-height: 120px;
          padding: 11px 0;
          margin: 0 15px 30px;
        }
      }
      button {
        margin-top: 50px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .contact {
    .contactContainer {
      .formContainer {
        .inputFields {
          flex-direction: column;
          & input {
            width: 288px;
          }
        }
        & textarea {
          width: 288px;
        }
      }
    }
  }
}
@media screen and (max-height: 800px) {
  .contact {
    .contactContainer {
      .formContainer {
      }
      button {
        margin-top: 30px;
      }
    }
  }
}
@media screen and (max-height: 730px) {
  .contact {
    min-height: 65vh;
    .contactContainer {
      .formContainer {
        margin-top: 30px;
      }
    }
  }
}
@media screen and (max-height: 670px) {
  .contact {
    .contactContainer {
      .formContainer {
        margin-top: 20px;
        & textarea {
          min-height: 100px;
        }
      }
      button {
        margin-top: 20px;
      }
    }
  }
}
@media screen and (max-height: 500px) {
  .contact {
    min-height: 82vh;
    .contactContainer {
      .formContainer {
        margin-top: 10px;
        & textarea {
          min-height: 95px;
          margin-bottom: 20px;
        }
      }
      button {
        margin-top: 10px;
        margin-bottom: 35px;
      }
    }
  }
}

