.header {
    height: 80px;
    background-color: teal;
    display: flex;
    align-items: center;
}

.headerContainer {
    background-color: #c0bdbd;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}