@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.title{
    @include text(Raleway-SemiBold, sans-serif, 21px);
    color: $textSeconsdColor;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (max-width: 1177px){
    .title{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}