.skills{
    min-height: 100vh;
    background-color: #c8d5f1;
}
.skillsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: #c0bdbd;
}
.skillsSet{
    margin-top: 50px;
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}