@import "./src/common/styles/sass/variables.scss";
@import "./src/common/styles/sass/mixins.scss";

.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  div {
    @include text(Raleway-regular, sans-serif, 13px);
    color: $textColor;
    text-transform: uppercase;
  }
  .icon {
    color: $textColor;
  }
  .onScreen {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
  }
}
.barsMenu {
  display: none;
  color: $textColor;
  height: 22px;
}

.hiddenPrimaryBackground {
  position: fixed;
  height: 0;
  width: 80%;
  left: 10%;
  top: 8vh;
  background-color: black;
  z-index: 98;
  opacity: 0;
  transition: all 0.2s ease-in-out
}
.primaryBackground {
  height: 25%;
  opacity: 0.9;
  transition: all 0.2s ease-in-out
}
.secondBackground {
  background-color: white;
  opacity: 1;
  margin-left: -10px;
  width: 120%;
  left: 0;
  box-shadow: 0 7px 7px -7px #8f8f8f;
}
.scrolled {
  color: $textSeconsdColor;
  div {
    color: $textSeconsdColor;
  }
  .icon {
    color: $textSeconsdColor;
  }
}

@media screen and (max-width: 777px) {
  .nav {
    left: 10%;
    top: 8vh;
    width: 80%;
    height: 25%;
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  .barsMenu {
    display: block;
  }
}
.mobileClass {
  height: 25%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
