@import "./src/common/styles/sass/variables.scss";
@import "./src/common/styles/sass/mixins.scss";

.title{
    @include text(Raleway-SemiBold, sans-serif, 21px);
    color: $textSeconsdColor;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}