@import "./src/common/styles/sass/variables.scss";
@import "./src/common/styles/sass/mixins.scss";

.title{
    @include text(Raleway-SemiBold, sans-serif, 21px);
    color: $textSeconsdColor;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
}