@import "./src/common/styles/sass/variables.scss";

.skills{
    padding-bottom: 109px;
    .skillsContainer{
        flex-direction: column;
        .skillsSet{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}
@media screen and (max-width: 1177px){
    .skills{
        padding-bottom: 4px;
        .skillsContainer{
            .skillsSet{
                justify-content: space-evenly;
            }
        }
    }
}
@media screen and (max-width: 800px){
    .skills{
        padding-bottom: 22px;
        .skillsContainer{
            .skillsSet{
                justify-content: space-between;
            }
        }
    }
}


