@import "./src/common/styles/sass/variables.scss";

.skills{
    padding-bottom: 30px;
    .skillsContainer{
        flex-direction: column;
        .skillsSet{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

