/*@font-face {*/
/*    font-family: Montserrat-ExtraBold;*/
/*    src: url('./../common/styles/fonts/Montserrat-ExtraBold.ttf')*/
/*}*/
.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a {
    /*color: black;*/
    text-decoration: none;
    /*font-family: Montserrat-ExtraBold, sans-serif;*/
    font-family: Raleway-regular, sans-serif;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
}
