.projects{
    height: 100vh;
    background-color: #f2cff6;
}
.projectsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: #c0bdbd;
}
.projectsSet{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}